/* Header styling */

header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(/AirBnB_clone/web_static/images/logo.png);
    background-repeat: no-repeat;
}


/* .styledimg {
    background-image: url(/AirBnB_clone/web_static/images/airbNb\ logo.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
} */